/* https://www.w3schools.com/cssref/css_colors.asp */
.aliceblue {
  background-color: aliceblue;
  color: black;
}
.aqua {
  background-color: aqua;
  color: black;
}
.aquamarine {
  background-color: aquamarine;
  color: black;
}
.azure {
  background-color: azure;
  color: black;
}
.beige {
  background-color: beige;
  color: black;
}
.bisque {
  background-color: bisque;
  color: black;
}
.blanchedalmond {
  background-color: blanchedalmond;
  color: black;
}
.blue {
  background-color: blue;
  color: white;
}
.blueviolet {
  background-color: blueviolet;
  color: white;
}
.brown {
  background-color: brown;
  color: white;
}
.burlywood {
  background-color: burlywood;
  color: black;
}
.cadetblue {
  background-color: cadetblue;
  color: white;
}
.chartreuse {
  background-color: chartreuse;
  color: black;
}
.chocolate {
  background-color: chocolate;
  color: white;
}
.coral {
  background-color: coral;
  color: black;
}
.cornflowerblue {
  background-color: cornflowerblue;
  color: white;
}
.cornsilk {
  background-color: cornsilk;
  color: black;
}
.crimson {
  background-color: crimson;
  color: white;
}
.cyan {
  background-color: cyan;
  color: black;
}
.darkblue {
  background-color: darkblue;
  color: white;
}
.darkcyan {
  background-color: darkcyan;
  color: white;
}
.darkgoldenrod {
  background-color: darkgoldenrod;
  color: white;
}
.darkgray {
  background-color: darkgray;
  color: black;
}
.darkgrey {
  background-color: darkgrey;
  color: black;
}
.darkgreen {
  background-color: darkgreen;
  color: white;
}
.darkkhaki {
  background-color: darkkhaki;
  color: black;
}
.darkmagenta {
  background-color: darkmagenta;
  color: white;
}
.darkolivegreen {
  background-color: darkolivegreen;
  color: white;
}
.darkorange {
  background-color: darkorange;
  color: black;
}
.darkorchid {
  background-color: darkorchid;
  color: white;
}
.darkred {
  background-color: darkred;
  color: white;
}
.darksalmon {
  background-color: darksalmon;
  color: black;
}
.darkseagreen {
  background-color: darkseagreen;
  color: black;
}
.darkslateblue {
  background-color: darkslateblue;
  color: white;
}
.darkslategray {
  background-color: darkslategray;
  color: white;
}
.darkslategrey {
  background-color: darkslategrey;
  color: white;
}
.darkturquoise {
  background-color: darkturquoise;
  color: white;
}
.darkviolet {
  background-color: darkviolet;
  color: white;
}
.deeppink {
  background-color: deeppink;
  color: white;
}
.deepskyblue {
  background-color: deepskyblue;
  color: white;
}
.dimgray {
  background-color: dimgray;
  color: white;
}
.dimgrey {
  background-color: dimgrey;
  color: white;
}
.dodgerblue {
  background-color: dodgerblue;
  color: white;
}
.firebrick {
  background-color: firebrick;
  color: white;
}
.floralwhite {
  background-color: floralwhite;
  color: black;
}
.forestgreen {
  background-color: forestgreen;
  color: white;
}
.fuchsia {
  background-color: fuchsia;
  color: white;
}
.gainsboro {
  background-color: gainsboro;
  color: black;
}
.ghostwhite {
  background-color: ghostwhite;
  color: black;
}
.gold {
  background-color: gold;
  color: black;
}
.goldenrod {
  background-color: goldenrod;
  color: black;
}
.gray {
  background-color: gray;
  color: white;
}
.grey {
  background-color: grey;
  color: white;
}
.green {
  background-color: green;
  color: white;
}
.greenyellow {
  background-color: greenyellow;
  color: black;
}
.honeydew {
  background-color: honeydew;
  color: black;
}
.hotpink {
  background-color: hotpink;
  color: black;
}
.indianred {
  background-color: indianred;
  color: white;
}
.indigo {
  background-color: indigo;
  color: white;
}
.ivory {
  background-color: ivory;
  color: black;
}
.khaki {
  background-color: khaki;
  color: black;
}
.lavender {
  background-color: lavender;
  color: black;
}
.lavenderblush {
  background-color: lavenderblush;
  color: black;
}
.lawngreen {
  background-color: lawngreen;
  color: black;
}
.lemonchiffon {
  background-color: lemonchiffon;
  color: black;
}
.lightblue {
  background-color: lightblue;
  color: black;
}
.lightcoral {
  background-color: lightcoral;
  color: black;
}
.lightcyan {
  background-color: lightcyan;
  color: black;
}
.lightgoldenrodyellow {
  background-color: lightgoldenrodyellow;
  color: black;
}
.lightgray {
  background-color: lightgray;
  color: black;
}
.lightgrey {
  background-color: lightgrey;
  color: black;
}
.lightgreen {
  background-color: lightgreen;
  color: black;
}
.lightpink {
  background-color: lightpink;
  color: black;
}
.lightsalmon {
  background-color: lightsalmon;
  color: black;
}
.lightseagreen {
  background-color: lightseagreen;
  color: white;
}
.lightskyblue {
  background-color: lightskyblue;
  color: black;
}
.lightslategray {
  background-color: lightslategray;
  color: white;
}
.lightslategrey {
  background-color: lightslategrey;
  color: white;
}
.lightsteelblue {
  background-color: lightsteelblue;
  color: black;
}
.lightyellow {
  background-color: lightyellow;
  color: black;
}
.lime {
  background-color: lime;
  color: black;
}
.limegreen {
  background-color: limegreen;
  color: black;
}
.linen {
  background-color: linen;
  color: black;
}
.magenta {
  background-color: magenta;
  color: black;
}
.maroon {
  background-color: maroon;
  color: black;
}
.mediumaquamarine {
  background-color: mediumaquamarine;
  color: black;
}
.mediumblue {
  background-color: mediumblue;
  color: white;
}
.mediumorchid {
  background-color: mediumorchid;
  color: white;
}
.mediumpurple {
  background-color: mediumpurple;
  color: white;
}
.mediumseagreen {
  background-color: mediumseagreen;
  color: white;
}
.mediumslateblue {
  background-color: mediumslateblue;
  color: white;
}
.mediumspringgreen {
  background-color: mediumspringgreen;
  color: black;
}
.mediumturquoise {
  background-color: mediumturquoise;
  color: black;
}
.mediumvioletred {
  background-color: mediumvioletred;
  color: white;
}
.midnightblue {
  background-color: midnightblue;
  color: white;
}
.mintcream {
  background-color: mintcream;
  color: black;
}
.mistyrose {
  background-color: mistyrose;
  color: black;
}
.moccasin {
  background-color: moccasin;
  color: black;
}
.navajowhite {
  background-color: navajowhite;
  color: black;
}
.navy {
  background-color: navy;
  color: white;
}
.oldlace {
  background-color: oldlace;
  color: white;
}
.olive {
  background-color: olive;
  color: white;
}
.olivedrab {
  background-color: olivedrab;
  color: white;
}
.orange {
  background-color: orange;
  color: black;
}
.orangered {
  background-color: orangered;
  color: white;
}
.orchid {
  background-color: orchid;
  color: black;
}
.palegoldenrod {
  background-color: palegoldenrod;
  color: black;
}
.palegreen {
  background-color: palegreen;
  color: black;
}
.paleturquoise {
  background-color: paleturquoise;
  color: black;
}
.palevioletred {
  background-color: palevioletred;
  color: white;
}
.papayawhip {
  background-color: papayawhip;
  color: white;
}
.peachpuff {
  background-color: peachpuff;
  color: black;
}
.peru {
  background-color: peru;
  color: white;
}
.pink {
  background-color: pink;
  color: black;
}
.plum {
  background-color: plum;
  color: black;
}
.powderblue {
  background-color: powderblue;
  color: black;
}
.purple {
  background-color: purple;
  color: white;
}
.rebeccapurple {
  background-color: rebeccapurple;
  color: white;
}
.red {
  background-color: red;
  color: white;
}
.rosybrown {
  background-color: rosybrown;
  color: black;
}
.royalblue {
  background-color: royalblue;
  color: white;
}
.saddlebrown {
  background-color: saddlebrown;
  color: white;
}
.salmon {
  background-color: salmon;
  color: black;
}
.sandybrown {
  background-color: sandybrown;
  color: black;
}
.seagreen {
  background-color: seagreen;
  color: white;
}
.seashell {
  background-color: seashell;
  color: black;
}
.sienna {
  background-color: sienna;
  color: white;
}
.silver {
  background-color: silver;
  color: black;
}
.skyblue {
  background-color: skyblue;
  color: black;
}
.slateblue {
  background-color: slateblue;
  color: white;
}
.slategray {
  background-color: slategray;
  color: white;
}
.slategrey {
  background-color: slategrey;
  color: white;
}
.springgreen {
  background-color: springgreen;
  color: black;
}
.steelblue {
  background-color: steelblue;
  color: white;
}
.tan {
  background-color: tan;
  color: black;
}
.teal {
  background-color: teal;
  color: white;
}
.thistle {
  background-color: thistle;
  color: black;
}
.tomato {
  background-color: tomato;
  color: white;
}
.turquoise {
  background-color: turquoise;
  color: black;
}
.violet {
  background-color: violet;
  color: black;
}
.wheat {
  background-color: wheat;
  color: black;
}
.whitesmoke {
  background-color: whitesmoke;
  color: black;
}
.yellow {
  background-color: yellow;
  color: black;
}
.yellowgreen {
  background-color: yellowgreen;
  color: black;
}
.black {
  background-color: black;
  color: white;
}
